@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
    --orange:#FF9814;
    --background-header: #FFF;
    --boxShadow:0 0 .3rem rgba(0,0,0,0.3);

}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    list-style: none;
    resize: none;
}

*::selection{
    background:var(--orange);
    color: var(--background-header);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    background-color:var(--background-header);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,0.3);
    width: 100%;
}

section {
    padding: 12rem 7%;
}

.btn {
    background-color: var(--orange);
    color: var(--background-header);
    cursor: pointer;
    padding: .9rem 3rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #ff6347;
}

header .heading {
    font-size: 3rem;
    color: #666;
    padding: 1rem;
    text-align: center;
}

header #menu {
    font-size: 2rem;
    color: #666;
    cursor: pointer;
    margin: 1rem;
    display: none;
}

header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    padding: 1rem;
}

header .navbar li{
    margin: 0 1.5rem;
}

header .navbar li a {
    font-size: 2rem;
    color: var(--background-header);
    padding: .8rem 1.5rem;
    border-radius: .4rem;
    font-weight: 400;
}

header .navbar li a:hover {
    color: #444;
    background-color: var(--background-header);
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    flex: 1 1 40rem;
}

.home .content h1 {
    font-size: 5rem;
    color: #454545;
}

.home .content p {
    font-size: 1.6rem;
    padding: 3rem 0;
    color: #222;
}


.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.about .image {
    flex: 1 1 40rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    flex: 1 1 40rem;
}

.about .content h1 {
    font-size: 5rem;
    color: #454545;
}

.about .content p {
    font-size: 1.6rem;
    padding: 1rem 0;
    color: #222;
}

.services {
    min-height: 100vh;
    background-color: #eeeeeea6;   
}

.services .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.services .box-container .box {
    background: var(--background-header);
    margin: 2rem;
    padding: 1rem;
    width: 30rem;
    text-align: center;
    box-shadow: var(--boxShadow);
}

.services .box-container .box i {
    font-size: 4rem;
    padding: 1rem;
    color: var(--orange);
}

.services .box-container .box h3 {
    font-size: 2rem;
    color: #454545;
}

.services .box-container .box p {
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}

.plan {
    min-height: 100vh;
    background-color: #eeeeeea6;
    
}

.plan .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.plan .box-container .box {
    background: var(--background-header);
    margin: 1rem;
    padding: 2rem;
    width: 35rem;
    text-align: center;
    box-shadow: var(--boxShadow);   
    position: relative;
}

.plan .box-container .box .title{
    font-size: 3rem;
    color: #454545;
    padding: 1rem 0;
}

.plan .box-container .box .price {
    background-color: var(--orange);
    color: var(--background-header);
    font-size: 2.5rem;
    font-weight: 600;
    border-radius: 50%;
    height: 13rem;
    line-height: 13rem;
    text-align: center;
    width: 13rem;
    margin: 1rem auto;
}

.plan .box-container .box .price span {
    font-size: 1rem;
}

.plan .box-container .box ul {
    margin-bottom: 2rem;
}

.plan .box-container .box ul li {
    color: #000;
    font-size: 1.8rem;
    text-align: center;
}
.plan .box-container .recommended {
    background-color:tomato;
}

.plan .box-container .recommended ul li{
    color: var(--background-header);
} 

.plan .box-container .recommended .btn-premium {
    color: #000;
    background-color: var(--background-header);
}

.plan .box-container .recommended .btn-premium:hover {
    color: var(--background-header);
    background-color: #000;
}

.contact {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-image: url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contact form {
    flex: 1 1 40rem;
    padding: 2rem;
    margin: 1rem;
    margin-top: 4rem;
    box-shadow: var(--boxShadow);
}

.contact .content {
    flex: 1 1 40rem;
    padding: 3rem 1rem;
}

.contact form .box {
    width: 100%;
    color: #333;
    height: 4rem;
    font-size: 1.8rem;
    border-bottom: .2rem solid rgba(0,0,0,0.3);
    text-transform: none;
    margin: 1rem 0;

    background-color: transparent;
}

.contact form .box::placeholder {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #ccc;
}

.contact form .box:focus {
    border-color:var(--orange);
}

.contact .image img {
    width: 100%;
}


.contact form .message {
    height: 15rem;
}

.contact .content h3{
    font-size: 4rem;
    color: #4444;
}

.contact .content p{
    font-size: 1.8rem;
    color: #454545;
    padding: 2rem 0;
}

.contact .content .icons{
    font-size: 1.8rem;
    color: #222;
    padding: .8rem 0;
}

.contact .content .icons i{
    padding-right: .5rem;
    color: #ff6347;
}

.footer {
    background-color: #333;
}

.footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}

.footer .box-container .box {
    margin: 2rem;
    flex: 1 1 3rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--background-header);
}

.footer .box-container .box p {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

.footer .box-container .box a {
    font-size:1.8rem;
    color: #EEE;
    padding: .4rem 0;
    display: block;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
}

.footer .box-container .box:nth-child(2) {
    text-align: center;
}

.footer .box-container form{
    display: flex;
    align-items: center;
}

.footer .box-container form input[type="email"] {
    height: 4.1rem;
    width: 100%;
    font-size: 1.7rem;
    padding: 0 1rem;
}

.footer .box-container form .btn {
    margin-top: 0;
}

.footer .box-container form .btn:hover {
    color: #333;
    background-color: #CCC;
}








@media screen and (max-width:768px) {
    html{
        font-size: 55%;
    }
    .home .content {
        text-align: center;
    }
    .home .content h1 {
        font-size: 4.4rem;
    }
    
    .about .content {
        text-align: center;
    }
    .about .content h1 {
        font-size: 4.4rem;
    }
}

@media screen and (max-width:500px) {
    html{
        font-size: 50%;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    section {
        padding: 8rem 0;
    }
    header #menu {
        display: block;
    }
    header .navbar {
        position: fixed;
        top: 6.2rem; right: -120%;
        height: 100%;
        width: 100%;
        border-top: .1rem solid var(--orange);
    }
    header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
        background-color: var(--background-header);
        padding-bottom: 15rem;
    }
    header .navbar ul li{
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }
    header .navbar ul li a {
        font-size: 4rem;
        color: #454545;
        display: block;
    }
    header .navbar ul li a:hover {
        color: #454545;
        background-color: var(--orange);   
    }
    .fa-times {
        transform: rotate(-180deg);
    }
    header .nav-toggle {
        right: 0;
    }
    .footer .box-container .box:last-child{
        text-align: center;
    }
    .footer .box-container .box:last-child p{
        font-size: 1.7rem;
    }
    .footer .box-container .box:last-child form {
        flex-flow: column;
    }
    .footer .box-container .box:last-child form .btn{
        margin-top: 1rem;
        width: 100%;
    }
}